In [1]:
import pandas as pd
import pathlib
from redshift_connection import RedshiftConnection

In [2]:
filename = 'last_10_queries.sql'
sql_file_path = pathlib.Path(f'sql/{filename}')
basename = sql_file_path.stem

In [3]:

connection = RedshiftConnection().connect()
cursor = connection.cursor()

In [25]:

sql_okay = """SELECT query, 
LISTAGG(CASE WHEN LEN(RTRIM(text)) = 0 THEN text 
    ELSE RTRIM(text) END) WITHIN GROUP (ORDER BY sequence) AS query_statement, 
COUNT(*) as row_count 
FROM stl_querytext
GROUP BY query
ORDER BY query desc
LIMIT 10;"""



with open(sql_file_path, 'r') as query:
    read = query.read()
    # df = cursor.execute(sql).fetch_dataframe()
#     df = pd.read_sql(query.read(), con=cnxn)
# df = pd.read_sql(sql, cnxn)
#     print(df)

sql_okay == read

True

In [27]:
cursor.execute(read).fetch_dataframe()

    query                                    query_statement  row_count
0  398091  SELECT query, \nLISTAGG(CASE WHEN LEN(RTRIM(te...          2
1  398083  SELECT query, \nLISTAGG(CASE WHEN LEN(RTRIM(te...          2
2  397960  \nSELECT query, \nLISTAGG(CASE WHEN LEN(RTRIM(...          2
3  397895  \nSELECT query, \nLISTAGG(CASE WHEN LEN(RTRIM(...          2
4  397782  SELECT query, \nLISTAGG(CASE WHEN LEN(RTRIM(te...          2
5  397769  SELECT query, \nLISTAGG(CASE WHEN LEN(RTRIM(te...          2
6  397715  SELECT query, \nLISTAGG(CASE WHEN LEN(RTRIM(te...          2
7  397628  SELECT query, \nLISTAGG(CASE WHEN LEN(RTRIM(te...          2
8  396179  SELECT\n    query,\n    LISTAGG(\n        CASE...          2
9  396175  SELECT\n    query,\n    LISTAGG(\n        CASE...          2

In [23]:
read

'SELECT query, \nLISTAGG(CASE WHEN LEN(RTRIM(text)) = 0 THEN text \n    ELSE RTRIM(text) END) WITHIN GROUP (ORDER BY sequence) AS query_statement, \nCOUNT(*) as row_count \nFROM stl_querytext\nGROUP BY query\nORDER BY query desc\nLIMIT 10;'

In [3]:
from pathlib import Path
Path.home()

PosixPath('/Users/chris')